<!DOCTYPE html>
<html>
    <head>
        <title>Weather Station</title>
    </head>
    <body >

        <h1 style="background-color:rgb(103, 206, 220);"><br>&nbsp;MQTT Weather Station<br><br></h1>
        <h4 class="a">&nbsp;&nbsp;&nbsp;Mechanical Engineering, Chulalongkorn University</h4><hr>
        <pre style="font-size:120%;">
            <br>   Temperature: {{ posts[0].temp }}
            <br>   Humidity: {{ posts[0].humi }}
            <br>   Light Intensive: {{ posts[0].light }}
        </pre>
        
    </body>
</html>